/* Sticky footer styles
-------------------------------------------------- */
body {
    font-family: sans-serif;
    display: flex;
    background: #141422;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

capture {
    align-content: center;
}
